<div class="row">
  <div class="col-md-12">
    <%= form_for(@move, :html => { class: "form-horizontal", role: "form" }) do |f| %>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :description %>
        </div>
        <div class="col-md-8">
        </div>
          <%= f.text_field :description, class: "form-control", placeholder: "Name of purchase", autofocus: true %>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :amount %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :amount, class: "form-control", placeholder: "Enter price" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit class: "btn btn-primary btn-lg btn-xlarge" %>
        </div>
      </div>
    <% end %>
    <div align="center" class="col-md-4 col-md-offset-4 colormatch">
      [ <%= link_to "Cancel request and return accounts list", root_path %> ]
    </div>
  </div>
</div>
